#body{
	background-color: #232323;
}

.row{
	text-align: center;
}

#header{
	text-align: center;
	color: white;
}

#header2{
	text-align: center;
	color: white;
}

#horizontalLine{
	border:0;
	height: 1px;
	background: #bdc3c7;
	width: 50%;
}

#result{
	color:white;
	text-align: center;
	margin-top:50px;
}

#secondC{
	width:50%;
}

#playRow{
	margin-top:50px;
}
